@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
// @import '../node_modules/bootstrap4c-chosen/dist/css/component-chosen.min.css';

// @import './styles.css';

#app {
	position: sticky;
	top: 2em;
	width: 800px;
	height: 600px;
}
