@use "sass:math";

// (Required) Import Bootstrap
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

.alert {
	border: 1px solid;
}

@import "bootstrap/scss/_alert";


$font-family-sans-serif: "Verdana", "Arial", "Helvetica", "sans-serif";

$primary: rgb(100, 100, 100);
$primary-rgb: 100, 100, 100;

$nav-primary: #FF9933;
$nav-secondary: #ffecbf;
$nav-link: #3366cc;

$nav-primary-hover: #d8c7a5;

$pdb-redo-colors: (
	"primary": $primary,
	"nav-primary": $nav-primary,
	"nav-secondary": $nav-secondary,
);

$navbar-dark-color: $nav-link;
$navbar-dark-hover-color: $nav-link;
$navbar-dark-active-color: $nav-link;
$navbar-dark-disabled-color: rgba($nav-link, .5);

$navbar-padding-y: 0;
$nav-link-padding-y: math.div($spacer, 2);

// (Required) Import Bootstrap
@import "bootstrap/scss/bootstrap";

$theme-colors: map-merge($pdb-redo-colors, $theme-colors);

@mixin hover-focus() {
	&:hover,
	&:focus {
		@content;
	}
}

.navbar-dark {
	.navbar-nav {
	  .nav-link {
		@include hover-focus() {
			background-color: $nav-primary-hover;
		}
	  }
	  .nav-link.active {
		background-color: lighten($nav-link, 5%);
		color: white;
	  }
	}

	& > div {
		background-color: $nav-secondary;
	}
}


// for the pdb-redo header

header {
    min-height: 6em;
    padding-bottom: 1em;
}

.h-left {
    float: left;
    min-height: 6em;
    width: 10em;
}

.h-right {
    padding-left: 10em;
    width: 100%;
}

.h-left img {
	min-height: calc(6em + 30px);
	margin: -15px 0;
	width: auto;
}

header div.first, header div.second {
    /*padding: 0.5em;*/
    /*font-size: small;*/
    /*margin-left: 6em;*/
    padding: 1em !important;
	min-height: 3em;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header div.first {
    background-color: $nav-primary;
    color: white;
}

header div.second {
    background-color: $nav-secondary;
}

header div.second nav {
    color: $nav-link;
}

header div.first a {
    color: white;
    text-decoration: none;
}

header div.second a, .login-links a {
    color: $nav-link;
}

header div.second nav {
    float: left;
    clear: none;
}

header div.second span.user-panel {
    float: right;
}

header div.second div.clear {
    clear: both;
}

@media all and (max-width: 1024px) {

    header {
        min-height: 4em;
    }

    .h-left {
        height: 4em;
        width: 8em;
    }

    .h-right {
        padding-left: 8em;
    }

    header img {
       min-height: calc(4em + 30px);
    }

    header div.first, header div.second {
        padding: 0;
        height: 2em;
    }
}

/*
	For the molstar viewer
*/

#app {
	position: sticky;
	top: 2em;
	width: 800px;
	height: 600px;
}

/*
	Other stuff
*/

.site {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
}

.site header, .site footer {
	flex: none;
}

.site-content {
	flex: 1 0 auto;
	padding: var(--space) var(--space) 0;
	width: 100%;
}

.site-content::after {
	content: '\00a0'; /* &nbsp; */
	display: block;
	margin-top: var(--space);
	height: 0px;
	visibility: hidden;
}

footer {
	border-top: 1px solid #888;
	padding: 0.5em;
	margin-top: 2em;
	font-size:  small;
	color: #555;
	white-space: pre;
}

span.rest-link {
	font-style: italic;
	text-decoration: underline;
	font-family: monospace;
}

span.entry-id {
	color: $nav-link;
}

td.unreliable {
	background-color: rgba(255, 25, 0, 0.2);
	color: rgb(80, 0, 0);
}

td.suspect {
	background-color: rgba(255, 196, 0, 0.2);
	color: rgb(80, 64, 0);
}

// td.unreliable {
// 	background-color: #ff9999;
// 	// color: black;
// 	// font-weight: bold;
// }

// td.suspect {
// 	background-color: #ffff99;
// 	// color: black;
// 	// font-weight: bold;
// }

// for manual pages and such

.manual {

	dl {
		margin-bottom: 15px;

		dd {
			margin-top: 3px;
			margin-bottom: 10px;
			margin-left: 30px;

			&:first-child {
				margin-top: 0px;
			}

			ul, table {
				margin-bottom: 10px;
			}
			
			&:last-child,
			&:last-child > :last-child {
				margin-bottom: 0;
			}
		}
	}
}