Checks: >
    abseil-*,
    -abseil-string-find-str-contains,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-throwing-static-initialization,
    cert-*,
    -cert-int09-c,
    -cert-err58-cpp,
    clang-*,
    modernize*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -modernize-use-designated-initializers,
    performance-*,
    -performance-enum-size,
    hicpp-*,
    -hicpp-braces-around-statements,
    -hicpp-avoid-c-arrays,
    -hicpp-no-array-decay,
    -hicpp-special-member-functions,
    -hicpp-signed-bitwise,
    -hicpp-uppercase-literal-suffix,
    -hicpp-explicit-conversions,
    google-*,
    -google-readability-braces-around-statements,
    -google-explicit-constructor,
    -google-build-using-namespace,
    misc-*,
    -misc-use-internal-linkage,
    -misc-no-recursion,
    -misc-const-correctness,
    -misc-multiple-inheritance,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes

HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: "date.h|date/date.h|date/tz.h"
