.vscode
.vs
build
node_modules
node_modules
docroot/css
docroot/scripts
af-filledd.conf
alphafill.conf
.gdb_history
oprofile_data/
list-of-pdb-ids.txt
validate/counts.*
validate/identicals.*
validate/validate-report.txt
validate/validation-report.tsv
validate/validate-fill-report.txt
validate/*.tsv
validate/*-identicals
long-af-seq-ids.txt
test-yasara/
test/*.cif
perf.data*
AF-*-filled.*
src/revision.hpp
docs/conf.py
new-alphafill.conf
docroot/_sources/
docroot/_static/
docroot/.doctrees/
docroot/.buildinfo
docroot/**/index.html
docroot/objects.inv
docroot/searchindex.js
src/config.hpp
**/*.csv
**/*.log
**/*.tsv
docs/man/alphafill.conf.rst
