.vscode
.vs
build
node_modules
node_modules
docroot/css
docroot/scripts
af-filledd.conf
alphafill.conf
.gdb_history
oprofile_data/
list-of-pdb-ids.txt
validate/counts.*
validate/identicals.*
validate/validate-report.txt
validate/validation-report.tsv
validate/validate-fill-report.txt
long-af-seq-ids.txt
test-yasara/
test/*.cif
perf.data*
AF-*-filled.*
src/revision.hpp
